.header {
  background-color: #fff;
  padding: 20px;

  .toggle-sidebar {
    cursor: pointer;
  }

  .header-icon {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 50%;
    color: #555;
    margin-left: 10px;
    cursor: pointer;
  }

  .notifications-container {
    display: inline-block;
    margin-left: 20px;

    .dropdown-menu {
      min-width: 600px;
      border: none;
      box-shadow: 0 0 10px #ddd;
      top: 10px !important;
      padding-top: 0;

      &:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
      }

      .noti-head {
        background-color: #333;
        padding: 15px;
        color: #fff;

        span {
          float: right;
        }
      }

      .noti-content {
        ul {
          margin: 0;

          li {
            padding: 20px 30px;

            &:not(:last-of-type) {
              border-bottom: 1px solid #eee;
            }

            i {
              background-color: #eee;
              padding: 10px;
              width: 42px;
              height: 42px;
              line-height: 21px;
              border-radius: 50%;
              text-align: center;
              margin-right: 10px;
            }
          }
        }
      }

      .noti-footer {
        a {
          display: block;
          padding: 10px;
          border-top: 1px solid #eee;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .usermenu-container {
    float: right;

    .username {
      cursor: pointer;
      .avatar {
        width: 40px;
        height: 40px;
      }

      .user {
        font-weight: bold;
        color: #777;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .dropdown-menu {
      min-width: 600px;
      border: none;
      box-shadow: 0 0 10px #ddd;
      top: 10px !important;
      padding: 20px;
      border: 1px solid #ddd;

      &:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 40px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #ddd transparent;
      }

      .user-info {
        h3 {
          font-weight: bold;
        }

        p {
          color: #888;
        }
      }

      .activities-list {
        li {
          padding: 10px;
        }
      }

      .user-links {
        .link-box {
          border: 2px solid #f3f3f3;
          padding: 10px;
          border-radius: 6px;
          text-align: center;
          cursor: pointer;

          i {
            &.fa-cog {
              color: #2980b9;
            }

            &.fa-user {
              color: #16a085;
            }

            &.fa-power-off {
              color: #c0392b;
            }
          }

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
